#topbar {
  --primary: darkslategray;
  --background: azure;
  --border-primary: 2px dashed var(--primary);
  --svg-to-primary: invert(24%) sepia(11%) saturate(1586%) hue-rotate(131deg) brightness(94%) contrast(82%);

  position: fixed;
  width: 100%;
  height: 120px;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: end;

  font-family: 'Helvetica Neue';
  font-weight: 500;
  color: var(--primary);
  background: var(--background);
  border-bottom: var(--border-primary);
  border-width: 2px;
}

#barcode-wrapper {
  height: 80px;
  margin: auto 0;
}

#barcode-wrapper > * {
  height: 100%;
  margin-right: 10px;
}

#name-box {
  display: inline-block;
  width: 80px;
  margin: 0;

  font-weight: 500;
  text-align: justify;
  line-height: 0.8;
  font-size: 2.1em;
}

#contact-links {
  padding: 0;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}

#contact-links > li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}

#scissors {
  position: absolute;
  bottom: -12px;
  left: 20px;
  width: 30px;
  height: 24px;
  filter: var(--svg-to-primary);
}

@media only screen and (max-width: 520px) {
  #contact-links {
    display: none;
  }
}
