:root {
  --svg-white: invert(100%) sepia(0%) saturate(7423%) hue-rotate(173deg) brightness(93%) contrast(117%);
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

#main-wrapper {
  width: 100%;
  height: 100%;

  background-image: radial-gradient(ellipse at right top, #667eea 40%, #764ba2 100%);
  color: white;
}

#sidebar {
  min-width: 256px;
  height: inherit;
  position: fixed;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right-style: dashed;
  border-color: white;
  border-width: 1px;
}

#sidebar-name {
  padding: 20px 0;
  border-bottom-style: dashed;
  border-color: white;
  border-width: 1px;
}

#sidebar-name h1 {
  display: inline-block;
  margin: 0 auto;
  position: relative;

  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 4em;
}

#first-name {
  left: 0px;
}

#last-name {
  left: 24px;
}

#links {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}

#links a:any-link {
  color: white;
}

#links a:hover {
  color: lightgray;
}

main {
  height: inherit;
  width: calc(100vw - 256px);
  position: fixed;
  right: 0;
  padding: 0 20px;

  overflow-y: auto;
}

.main-header {
  font-family: 'DM Serif Display';
  margin: 5px 0;
  font-size: 3.5em;
}

.main-desc {
  padding-left: 28px;
  margin: 0;

  font-size: 1.7em;
}

code {
  font-family: 'Consolas';
}

#page-next {
  position: relative;
  float: right;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-next > h4 {
  font-weight: 500;
  font-size: 2em;
}

#button {
  height: 60px;
  width: 60px;
  margin: 20px;

  filter: var(--svg-white);
}
