:root {
  --rotation-init-angle: rotateX(-8deg) rotateY(10deg) rotateZ(-30deg);
  --primary: darkslategray;
  --accent: #ff7a7a;
  --accent-deep: red;
  --background: azure;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--primary);
}

h1, h2 {
  font-weight: 500;
  margin: 0;
}

#title-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  border-style: solid;
  border-width: 18px;
  border-color: var(--primary);

  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  background: var(--background);
}

#title-topbar {
  position: relative;
  flex-grow: 0;
}

#title {
  display: flex;
  padding: 20px;

  border-bottom-style: dashed;
  border-width: 2px;
  border-color: var(--primary);
}

#title > h1 {
  display: inline-block;

  font-size: 4em;
  letter-spacing: 2px;
  line-height: 0.8;
}

#title-spacer {
  margin: 0 20px;
  font-weight: 200;
  font-size: 8em;
  line-height: 0.8;
}

#title-bottom {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;

  padding: 20px;
  margin: 0;
  font-weight: 500;
}

#aboutme-header {
  font-size: 2.5em;
  line-height: 1.6;
}

#aboutme {
  position: absolute;
  display: inline-block;
  width: 260px;
  bottom: 20px;
  text-align: justify;
}

#title-links {
  position: absolute;
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;

  right: 20px;
  top: 20px;
}

#title-links > * {
  text-align: end;
  text-decoration: none;
}

#title-links a:any-link {
  color: var(--primary);
  text-decoration: none;
}

#title-links a:hover {
  color: var(--accent);
}

#title-links > li:first-child {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--accent);
}



/* SPHERE */
#sphere-background {
  position: absolute;
  display: inline;
  width: 154px;
  height: 154px;
  padding: 25px;

  border-style: dashed;
  border-color: var(--primary);
  border-width: 2px;

  z-index: 1;
  perspective: 95px;
  right: 20vw;
  bottom: calc(60vh - 110px);
}

#sphere-background::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  transform: translateZ(2px);
  background-color: var(--accent-deep);
  background-image: radial-gradient(circle at 33% 33%, rgba(255,255,255,.55) 0%, rgba(255,255,255,.4) 40%, rgba(255,255,255,.1) 80%, black);
  filter: drop-shadow(2px 2px 0.25em var(--primary));
}

#sphere {
  position: absolute;
  width: 100px;
  height: 100px;

  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  transform-style: preserve-3d;
}

.half {
  transform-style: preserve-3d;
  position: absolute;
  top: 32%;
  left: 50%;
  margin: 0;
}

.half:last-child {
  transform: rotateY(180deg);
}

.sphere-text {
  position: absolute;

  color: var(--primary);
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 1em;
  transform-style: preserve-3d;
}

.sphere-text:first-child {
  transform: translateZ(53px);
}
.sphere-text:nth-child(2) {
  transform: rotateY(10deg) translateZ(53px);
}
.sphere-text:nth-child(3) {
  transform: rotateY(20deg) translateZ(53px);
}
.sphere-text:nth-child(4) {
  transform: rotateY(30deg) translateZ(54.2px);
}
.sphere-text:nth-child(5) {
  transform: rotateY(36deg) translateZ(53px);
}
.sphere-text:nth-child(6) {
  transform: rotateY(46deg) translateZ(54.2px);
}
.sphere-text:nth-child(7) {
  transform: rotateY(53deg) translateZ(53px);
}
.sphere-text:nth-child(8) {
  transform: rotateY(63deg) translateZ(53px);
}
.sphere-text:nth-child(9) {
  transform: rotateY(73deg) translateZ(53px);
}
.sphere-text:nth-child(10) {
  transform: rotateY(83deg) translateZ(53px);
}
.sphere-text:nth-child(11) {
  transform: rotateY(91deg) translateZ(54.2px);
}
.sphere-text:nth-child(12) {
  transform: rotateY(97deg) translateZ(55.2px);
}
.sphere-text:nth-child(13) {
  transform: rotateY(105deg) translateZ(53px);
}
.sphere-text:nth-child(14) {
  transform: rotateY(115deg) translateZ(53px);
}
.sphere-text:nth-child(15) {
  transform: rotateY(123deg) translateZ(54.2px);
}
.sphere-text:nth-child(16) {
  transform: rotateY(133deg) translateZ(53px);
}
.sphere-text:nth-child(17) {
  transform: rotateY(143deg) translateZ(53px);
}
.sphere-text:last-child {
  transform: rotateY(158deg) translateZ(52.9px);
}

@keyframes spin {
  0% {
    transform:
      var(--rotation-init-angle)
      rotateY(0deg);
    text-shadow: var(--primary) 0.5px 0.5px 0.5px;
    }
  50%% {
    transform:
      var(--rotation-init-angle)
      rotateY(-.180deg);
    text-shadow: var(--primary) -0.5px -0.5px 0.5px;
    }
  100% {
    transform:
      var(--rotation-init-angle)
      rotateY(-360deg);
    text-shadow: var(--primary) 0.5px 0.5px 0.5px;
    }
}


/* HAND */
svg {
  position: absolute;
  z-index: 0;
  fill: var(--primary);
}

#hand1 {
  width: 180px;
  height: 450px;

  right: calc(20vw - 130px);;
  bottom: calc(30vh - 320px);
}

#hand2 {
  width: 200px;
  height: 450px;

  right: calc(20vw + 35px);;
  bottom: calc(30vh - 350px);

}

#cringephrase {
  position: absolute;
  bottom: 10px;
  right: calc(20vw + 165px);
  margin: 0;

  font-size: 1.2em;
  color: var(--primary);
}
