:root {
  --rotation-init-angle: rotateX(-8deg) rotateY(10deg) rotateZ(-30deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#title-wrapper {
  min-height: 100vh;

  border-style: solid;
  border-width: 10px;
  border-color: azure;

  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  background: #555;
}

#text-wrapper {
  color: azure;
  position: relative;
}

#title {
  display: flex;
  padding: 20px;

  border-bottom-style: dashed;
  border-width: 2px;
  border-color: azure;
}

#title > h1 {
  margin: 0;
  display: inline-block;

  font-weight: 200;
  font-size: 4em;
  letter-spacing: 2px;
  line-height: 0.8;
}

#title-spacer {
  margin: 0 20px;
  font-size: 8em;
  line-height: 0.8;
}

#title-links {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

#title-links > * {
  color: azure;
  text-decoration: none;
  display: inline;
}

#title-links a:any-link {
  color: azure;
  text-decoration: none;
}

#title-links a:hover {
  color: aliceblue;
}


/* SPHERE */
#sphere-background {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 70px;
  bottom: 70px;
  perspective: 95px;
}

#sphere-background::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  transform: translateZ(2px);
  background-color: black;
  background-image: radial-gradient(circle at 33% 33%, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.2) 30%, rgba(255,255,255,0.1) 80%, black);
  filter: drop-shadow(2px 2px 0.25em azure);
}

#sphere {
  position: absolute;
  width: 100%;
  height: 100%;

  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  transform-style: preserve-3d;
}

.half {
  transform-style: preserve-3d;
  position: absolute;
  top: 32%;
  left: 50%;
  margin: 0;
}

.half:last-child {
  transform: rotateY(180deg);
}

.sphere-text {
  position: absolute;

  color: azure;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 1em;
  transform-style: preserve-3d;
}

.sphere-text:first-child {
  transform: translateZ(53px);
}
.sphere-text:nth-child(2) {
  transform: rotateY(10deg) translateZ(53px);
}
.sphere-text:nth-child(3) {
  transform: rotateY(20deg) translateZ(53px);
}
.sphere-text:nth-child(4) {
  transform: rotateY(30deg) translateZ(54.2px);
}
.sphere-text:nth-child(5) {
  transform: rotateY(36deg) translateZ(53px);
}
.sphere-text:nth-child(6) {
  transform: rotateY(46deg) translateZ(54.2px);
}
.sphere-text:nth-child(7) {
  transform: rotateY(53deg) translateZ(53px);
}
.sphere-text:nth-child(8) {
  transform: rotateY(63deg) translateZ(53px);
}
.sphere-text:nth-child(9) {
  transform: rotateY(73deg) translateZ(53px);
}
.sphere-text:nth-child(10) {
  transform: rotateY(83deg) translateZ(53px);
}
.sphere-text:nth-child(11) {
  transform: rotateY(91deg) translateZ(54.2px);
}
.sphere-text:nth-child(12) {
  transform: rotateY(97deg) translateZ(55.2px);
}
.sphere-text:nth-child(13) {
  transform: rotateY(105deg) translateZ(53px);
}
.sphere-text:nth-child(14) {
  transform: rotateY(115deg) translateZ(53px);
}
.sphere-text:nth-child(15) {
  transform: rotateY(123deg) translateZ(54.2px);
}
.sphere-text:nth-child(16) {
  transform: rotateY(133deg) translateZ(53px);
}
.sphere-text:nth-child(17) {
  transform: rotateY(143deg) translateZ(53px);
}
.sphere-text:last-child {
  transform: rotateY(158deg) translateZ(52.9px);
}

/* note to future self:
 * rotations also move the axes,
 * not just the element */
@keyframes spin {
  0% { 
    transform: 
      var(--rotation-init-angle)
      rotateY(0deg);
    }
  100% {
    transform: 
      var(--rotation-init-angle)
      rotateY(-360deg);
    }
}
